<a href="https://colab.research.google.com/github/kayal466/task-7/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/trainKNN.csv",index_col=0)

In [ ]:
df

     1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
1
2    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00    0.00    1
3    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00    0.00    1
4    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00    0.00    1
5    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00    0.00    1
6    1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00    0.26    1
..       ...    ...   ...   ...    ...   ...   ...   ...     ...  ...
207  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38    0.00    7
208  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88    0.00    7
209  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54    0.00    7
210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06    0.00    7
211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59    0.00    7

[195 rows x 10 columns]

In [ ]:
df.head()

   1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
1
2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0.0    0.00    1
3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0.0    0.00    1
4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0.0    0.00    1
5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0.0    0.00    1
6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07   0.0    0.26    1

In [ ]:
df.tail()

     1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
1
207  1.51645  14.94   0.0  1.87  73.11  0.00  8.67  1.38     0.0    7
208  1.51831  14.39   0.0  1.82  72.86  1.41  6.47  2.88     0.0    7
209  1.51640  14.37   0.0  2.74  72.85  0.00  9.45  0.54     0.0    7
210  1.51623  14.14   0.0  2.88  72.61  0.08  9.18  1.06     0.0    7
211  1.51685  14.92   0.0  1.99  73.06  0.00  8.40  1.59     0.0    7

In [ ]:
df.describe()

,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00.1,1.1
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,1.518281,13.373846,2.750103,1.456154,72.639795,0.521744,8.911538,0.165077,0.050513,2.676923
std,0.003057,0.784929,1.390655,0.492293,0.763064,0.673624,1.425102,0.486304,0.086506,2.064234
min,1.511310,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516455,12.875000,2.335000,1.190000,72.330000,0.145000,8.220000,0.000000,0.000000,1.000000
50%,1.517630,13.270000,3.480000,1.360000,72.810000,0.560000,8.570000,0.000000,0.000000,2.000000
75%,1.518950,13.795000,3.605000,1.625000,73.080000,0.610000,9.105000,0.000000,0.090000,3.000000
max,1.533930,15.790000,3.980000,3.500000,75.180000,6.210000,16.190000,3.150000,0.340000,7.000000

In [ ]:
df.isnull().sum()

1.52101    0
13.64      0
4.49       0
1.10       0
71.78      0
0.06       0
8.75       0
0.00       0
0.00.1     0
1.1        0
dtype: int64

In [ ]:
df.nunique()

1.52101    163
13.64      136
4.49        89
1.10       110
71.78      123
0.06        65
8.75       133
0.00        30
0.00.1      28
1.1          6
dtype: int64

In [ ]:
 corelation = df.corr()

In [ ]:
corelation

,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00.1,1.1
1.52101,1.000000,-0.160481,-0.160268,-0.444841,-0.528173,-0.294395,0.823499,0.011001,0.107959,-0.163574
13.64,-0.160481,1.000000,-0.219491,0.235861,-0.195199,-0.247806,-0.278877,0.337315,-0.249612,0.486528
4.49,-0.160268,-0.219491,1.000000,-0.518674,-0.088726,-0.034991,-0.462380,-0.488418,0.070237,-0.713577
1.10,-0.444841,0.235861,-0.518674,1.000000,0.006014,0.333470,-0.285513,0.476620,-0.069975,0.639874
71.78,-0.528173,-0.195199,-0.088726,0.006014,1.000000,-0.186258,-0.199071,-0.164731,-0.061962,0.088577
0.06,-0.294395,-0.247806,-0.034991,0.333470,-0.186258,1.000000,-0.322336,-0.020854,-0.013797,0.026653
8.75,0.823499,-0.278877,-0.462380,-0.285513,-0.199071,-0.322336,1.000000,-0.100815,0.119845,-0.020051
0.00,0.011001,0.337315,-0.488418,0.476620,-0.164731,-0.020854,-0.100815,1.000000,-0.031185,0.566481
0.00.1,0.107959,-0.249612,0.070237,-0.069975,-0.061962,-0.013797,0.119845,-0.031185,1.000000,-0.230577
1.1,-0.163574,0.486528,-0.713577,0.639874,0.088577,0.026653,-0.020051,0.566481,-0.230577,1.000000

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
sns.heatmap(corelation,xticklabels=corelation.columns,yticklabels=corelation.columns
            ,annot=True)

ValueError: ignored

In [ ]:
sns.pairplot(df)

ValueError: ignored